# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.env

# Created by https://www.toptal.com/developers/gitignore/api/firebase
# Edit at https://www.toptal.com/developers/gitignore?templates=firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

# End of https://www.toptal.com/developers/gitignore/api/firebase
