h1 {
color: #3399FF;
text-align: center;
margin: 0;
padding: 20px 0;
font-size: 120px;
}

#title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

.gameSelectButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}
body {
  background-image: url('/background.svg?color=6d9eeb');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input-label {
  font-size: 1.7rem;
  font-weight: bold;
  flex-shrink: 0;
  text-align: left;
  width: 150px;
  white-space: nowrap;
}

.previous-problem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  height: 100vh;
  font-size: 3.5rem;
}

#backButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#nextButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#toggleResultButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Login and Signup page */
#login-signup-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-signup-container {
  width: 90%;
  max-width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-signup-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-signup-container label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login-signup-container input {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-signup-container button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  background: #3399ff;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.login-signup-container button:hover {
  background-color: #3b8cd8;
}

.login-signup-container a {
  color: #4ea7f5;
  text-decoration: none;
  font-weight: bold;
}

.login-signup-container a:hover {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}