---
import '../styles/styles.css';
import Button from '../components/Button.astro';
---

<head>
    <title>Flashing Numbers</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-image: url('/mathArenaBkg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 95%;
      }
  
      .flash-container {
        text-align: center;
        font-size: 3rem;
      }
  
      .currently-flashing {
        color: green;
        font-weight: bold;
        margin-bottom: 10px;
        visibility: hidden;
      }
  
      .flash-number {
        font-size: 10rem;
        margin-bottom: 20px;
      }
  
      .result-input {
        font-size: 4.5rem;
        padding: 0.5rem;
        width: 350px;
        margin-top: 30px;
        margin-bottom: 20px;
        display: none;
      }
  
      #backButton {
        position: fixed;
        bottom: 20px;
        left: 20px;
        display: none;
      }

      #previousProblem {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
      }

      #submitButton {
        display: none;
        margin: 20px auto;
      }

      #score-box {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 10vw;
        height: 40px;
        background: white;
        padding: 5px;
        border: 2px solid black;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 5px;
      }

      #resultMessage {
        font-size: 2rem;
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        display: none;
      }

      .correct {
        background-color: lightgreen;
        color: green;
      }

      .incorrect {
        background-color: lightcoral;
        color: darkred;
      }
    </style>
</head>

<body>
  <div id="score-box">Score: 0</div>
  <div class="flash-container">
    <div id="currentlyFlashing" class="currently-flashing"></div>
    <div id="flashContainer" class="flash-number"></div>

    <input id="resultInput" class="result-input" type="text" placeholder="Enter result">

    <Button id="submitButton" size="lg" backgroundColor="#4ea7f5" textColor="white" borderColor="transparent">
      Submit Answer
    </Button>

    <Button id="backButton" size="lg" backgroundColor="#4ea7f5" textColor="white" borderColor="transparent" href="/">
      Back
    </Button>

    <Button id="previousProblem" size="lg" backgroundColor="#4ea7f5" textColor="white" borderColor="transparent">
      Previous Problem
    </Button>

    <div id="resultMessage"></div>
  </div>
  
  <script>
    import { ProblemGenerator } from '../lib/ProblemGenerator';
    import { updateScore, getScore } from "../lib/score.ts";

    document.addEventListener("DOMContentLoaded", () => {
      const scoreBox = document.getElementById("score-box");
      if (scoreBox) {
        scoreBox.textContent = `Score: ${getScore()}`;
      }

      const params = new URLSearchParams(window.location.search);
      const digits = parseInt(params.get('digits') || '0');
      const numbers = parseInt(params.get('numbers') || '0');
      const speed = parseFloat(params.get('speed') || '0');

      const problemGen = new ProblemGenerator();
      const { entries, result } = problemGen.addSubtract(numbers, digits);

      function flashNumbers(numbersArr: number[], speedSeconds: number) {
        const currentlyFlashing = document.getElementById('currentlyFlashing');
        const flashContainer = document.getElementById('flashContainer');
        const resultInput = document.getElementById('resultInput');
        const backButton = document.getElementById('backButton');

        const submitButton = document.getElementById('submitButton');

        if (!currentlyFlashing || !flashContainer || !resultInput || !backButton || !submitButton) return;

        let index = 0;
        const showTime = speedSeconds * 1000;

        function showNextNumber() {
          if (index >= numbersArr.length) {
            
            if (flashContainer) {
              flashContainer.textContent = ''; 
            }
            if (currentlyFlashing) {
            currentlyFlashing.style.visibility = 'hidden'; 
            }
            setTimeout(() => {
              if (flashContainer) {
               flashContainer.textContent = 'Answer'; 
              }
              if (resultInput){
                resultInput.style.display = 'inline-block'; 
              }
              if (backButton) {
                backButton.style.display = 'block'; 
              }
              if (submitButton) {
                submitButton.style.display = 'block';
              }
            }, 1000); 
            return;
          }

          if (currentlyFlashing) {
            currentlyFlashing.style.visibility = 'visible';
          }
          if (flashContainer) {
            flashContainer.textContent = numbersArr[index].toString();
          }
          index++;

          setTimeout(() => {
            if (flashContainer) {
                flashContainer.textContent = '';
            }
            setTimeout(showNextNumber, showTime);
          }, showTime);
        }

        showNextNumber();
      }

      flashNumbers(entries, speed);

      const backButton = document.getElementById('backButton');
      if (backButton) {
        backButton.addEventListener('click', () => {
          window.history.back(); // Go back to the previous page
        });
      }

      function checkAnswer() {

        const submitButton = document.getElementById('submitButton') as HTMLButtonElement;
        const resultInput = document.getElementById('resultInput') as HTMLInputElement;
        const resultMessage = document.getElementById("resultMessage");
        const previousProblem = document.getElementById('previousProblem');

        if (resultInput && submitButton && resultMessage) {
          const userInput = (resultInput as HTMLInputElement).value.trim();
          const currentScore = getScore(); 

          // disallow inputting for numbers after correct
          resultInput.disabled = true;
          submitButton.disabled = true;

          if (userInput === result.toString()) {
            // Cif the answer is right
            updateScore(1);
            resultMessage.textContent = "Correct!";
            resultMessage.className = "correct";
          } else {
            // if the answer is wrong
            if (currentScore > 0) {
              updateScore(-1);
            }
            resultMessage.textContent = `Incorrect, the correct answer is: ${result}`;
            resultMessage.className = "incorrect";
          }

          if (previousProblem) {
            previousProblem.addEventListener('click', () => {
              localStorage.setItem('previousEntries', JSON.stringify(entries));
              localStorage.setItem('previousResult', JSON.stringify(result));
              localStorage.setItem('previousURL', window.location.href);
              window.location.href = '/previous';
            });
          }
          // Show the result message
          resultMessage.style.display = "block";
          if (previousProblem) {
            previousProblem.style.display = 'block'; 
          }
        }
      }

      const submitButton = document.getElementById('submitButton');
      if (submitButton) {
        submitButton.addEventListener('click', checkAnswer);
      }

      const resultInput = document.getElementById('resultInput');
      if (resultInput) {
        resultInput.addEventListener('keypress', (event) => {
          if (event.key === 'Enter') {
            checkAnswer();
          }
        });
      }
    });
  </script>
</body>