---
import '../styles/styles.css';
import Button from '../components/Button.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Math Arena</title>
	</head>
	<body>
        <h1 id="title">Math Arena</h1>

        <div class="gameSelectButtons">
            <Button 
                size="lg"
                backgroundColor="#6089B3"
                borderColor="transparent"
                onClick="alert('Addition & Subtraction')"
            >
              Add/Sub
            </Button>

            <Button 
                size="lg"
                backgroundColor="#6089B3"
                borderColor="transparent"
                onClick="alert('Multiplication')"
            >
              Multiplication
            </Button>
            
            <Button 
                size="lg"
                backgroundColor="#6089B3"
                borderColor="transparent"
                onClick="alert('Division')"
            >
              Division
            </Button>

        </div>
	</body>
</html>
