---
import '../styles/styles.css';
import Button from '../components/Button.astro'
import SideMenu from '../components/SideMenu.astro'

import { actions } from 'astro:actions';
const time = await Astro.callAction(actions.serverTime, undefined);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Math Arena</title>
	</head>
	<body>
        <h1 id="title">Math Arena {time.data}</h1>
        <SideMenu></SideMenu>
        <div class="gameSelectButtons">
            <Button 
                size="lg"
                backgroundColor="#4ea7f5"
                textColor=white
                borderColor="transparent"
                href="/add"
            >
              Add/Sub
            </Button>

            <Button 
                size="lg"
                backgroundColor="#4ea7f5"
                textColor=white
                borderColor="transparent"
                onClick="alert('Multiplication')"
            >
              Multiplication
            </Button>
            
            <Button 
                size="lg"
                backgroundColor="#4ea7f5"
                textColor=white
                borderColor="transparent"
                onClick="alert('Division')"
            >
              Division
            </Button>

        </div>
	</body>
</html>
