---
import button from "../components/button.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Math Arena</title>
	</head>
	<body>

        <style> 
            h1 {
            color: #3399FF;
            text-align: center;
            margin: 0;
            padding: 20px 0;
            font-size: 120px;
            }
        </style>
        <h1>Math Arena</h1>


	</body>
</html>
