---
export const prerender = false;

import "../styles/styles.css";
import Button from "../components/Button.astro";
import SideMenu from "../components/SideMenu.astro";
import { getAuth } from "firebase-admin/auth";
import { app } from "../lib/firebase_server.ts";
import ScoreBox from "../components/ScoreBox.astro";
import SignInButton from "../components/SignInButton.astro";

// Check for server-side authentication
let isAuthenticated = false;
const auth = getAuth(app);

if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session")?.value;
  if (sessionCookie) {
    try {
      const decodedCookie = await auth.verifySessionCookie(sessionCookie);
      isAuthenticated = true;
    } catch (error) {
      // Invalid session cookie
      console.error("Session verification error:", error);
    }
  }
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Math Arena</title>
    <style>
      /* Styling for sign-in button */
      #auth-container {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    </style>
  </head>
  <body>
    <h1 id="title">Math Arena</h1>

    <div id="auth-container">
      {
        !isAuthenticated ? (
          <SignInButton/>
        ) : null
      }

      <div id="side-menu-container" class={isAuthenticated ? "" : "hidden"}>
        {isAuthenticated ? <SideMenu /> : null}
      </div>
    </div>

    <div class="gameSelectButtons">
      <Button
        size="lg"
        backgroundColor="#4ea7f5"
        textColor="white"
        borderColor="transparent"
        href="/add"
      >
        Add/Sub
      </Button>

      <Button
        size="lg"
        backgroundColor="#4ea7f5"
        textColor="white"
        borderColor="transparent"
        href="/mult"
      >
        Multiplication
      </Button>

      <Button
        size="lg"
        backgroundColor="#4ea7f5"
        textColor="white"
        borderColor="transparent"
        href="/div"
      >
        Division
      </Button>
    </div>

    <ScoreBox server:defer />

    <script>
      const savedTheme = localStorage.getItem("selectedTheme");
      if (savedTheme) {
        document.body.style.backgroundImage = `url('/background.svg?color=${savedTheme.slice(1)}')`;
      }
    </script>
  </body>
</html>
