---
import '../styles/styles.css';
import Button from '../components/Button.astro';
import SideMenu from '../components/SideMenu.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Math Arena</title>
  </head>
  <body>

    <h1 id="title">Math Arena</h1>
    <SideMenu></SideMenu>
    
    <div class="gameSelectButtons">
        <Button 
            size="lg"
            backgroundColor="#4ea7f5"
            textColor="white"
            borderColor="transparent"
            href="/add"
        >
          Add/Sub
        </Button>

        <Button 
            size="lg"
            backgroundColor="#4ea7f5"
            textColor="white"
            borderColor="transparent"
            href="/mult"
        >
          Multiplication
        </Button>

        <Button 
            size="lg"
            backgroundColor="#4ea7f5"
            textColor="white"
            borderColor="transparent"
            href="/div"
        >
          Division
        </Button>
    </div>

    <div id="score-box" style="
      position: absolute;
      top: 10px;
      left: 10px;
      width: 10vw;
      height: 40px;
      background: white;
      padding: 5px;
      border: 2px solid black;
      font-size: 1.2rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      border-radius: 5px;">
      Score: 0
    </div> 

    <script type="text/javascript">
      
      if (typeof window !== "undefined") {
   
        function getScore() {
          return parseInt(localStorage.getItem("userScore") || "0", 10);
        }

        // updating from localstorage
        function updateScore(change) {
          const newScore = getScore() + change;
          localStorage.setItem("userScore", newScore.toString());

          // score update reflected in UI
          const scoreBox = document.getElementById("score-box");
          if (scoreBox) {
            scoreBox.textContent = `Score: ${newScore}`;
          }
        }

        // load scorebox
        window.addEventListener("load", function() {
          const scoreBox = document.getElementById("score-box");
          if (scoreBox) {
            scoreBox.textContent = `Score: ${getScore()}`; // set score whenever pages load
          }
        });
      }
    </script>

  </body>
</html>