---
import '../styles/styles.css';
import { app } from "../lib/firebase_server.ts";
import { actions } from "astro:actions";
import Button from '../components/Button.astro';
import BackgroundTheme from '../components/BackgroundTheme.astro';
---

<div class="settings-container">
  <BackgroundTheme server:defer />
</div>

<Button
  id="backButton"
  size="lg"
  backgroundColor="#4ea7f5"
  textColor="white"
  borderColor="transparent"
  href="/"
>
  Back
</Button>

<script>
  
import '../styles/styles.css';
import { app } from "../lib/firebase_client.ts";
import { actions } from "astro:actions";

  const savedTheme = localStorage.getItem("selectedTheme");
  if (savedTheme) {
    document.body.style.backgroundImage = `url('/background.svg?color=${savedTheme.slice(1)}')`;
  }

</script>