---
export const prerender = false;

import '../styles/styles.css';
import { getAuth } from "firebase-admin/auth";
import { sendPasswordResetEmail } from "firebase/auth";
import { app } from "../lib/firebase_server.ts";
import { actions } from "astro:actions";
import Button from '../components/Button.astro';
import BackgroundTheme from '../components/BackgroundTheme.astro';
---

<div class="settings-container">
  <BackgroundTheme server:defer />
</div>

<Button
  id="backButton"
  size="lg"
  backgroundColor="#4ea7f5"
  textColor="white"
  borderColor="transparent"
  href="/"
>
  Back
</Button>

<style>
  .settings-container {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .settings-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .submit-button {
    background-color: skyblue;
    color: white;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }

  .submit-button:hover {
    background-color: #1d99db;
  }

</style>

<script>
  
import '../styles/styles.css';
import { getAuth, sendPasswordResetEmail } from "firebase/auth";
import { app } from "../lib/firebase_client.ts";
import { actions } from "astro:actions";

  const savedTheme = localStorage.getItem("selectedTheme");
  if (savedTheme) {
    document.body.style.backgroundImage = `url('/background.svg?color=${savedTheme.slice(1)}')`;
  }

</script>