---
export const prerender = false;

import '../styles/styles.css';
import { actions } from 'astro:actions';
import { getAuth } from 'firebase-admin/auth';
import { app } from "../lib/firebase_server.ts";

/* Check if the user is authenticated */
const auth = getAuth(app);
if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session")?.value;
  if (sessionCookie) {
    const decodedCookie = await auth.verifySessionCookie(sessionCookie);
    if (decodedCookie) {
      return Astro.redirect("/");
    }
  }
}

const result = Astro.getActionResult(actions.register);
if (result && !result.error) {
  return Astro.redirect(`/login`);
}
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up - Math Arena</title>
</head>

<body id="login-signup-body">
  <div class="login-signup-container">
    <h1>Create an Account</h1>
    <p id="error-message" class="error-message"></p>

    <form id="signup-form" action={actions.register} method="post">
      <div class="input-group">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" required />
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Log in</a></p>
    <a href="/"> Continue without an account </a>
  </div>
</body>