---

---

<div
  id="accuracy-box"
  class="client"
  style="position: absolute; 
    top: 10px;
    right: 10px;
    width: 20vw;
    height: 40px;
    background: rgb(73, 163, 241);
    padding: 5px;
    border: 2px rgb(8, 107, 255);
    font-size: 1.2rem;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;"
>
    Accuracy: <span id="accuracy-text">0%</span>
</div>

<script>
    import { getAccuracyLocalStorage } from "../lib/Accuracy_client.ts";

    const AccuracyText = document.getElementById("accuracy-text")!;
    const accuracyVal = getAccuracyLocalStorage();
    AccuracyText.innerText = `${accuracyVal}%`;
</script>