
<body>
    <div class="leaderboard">
        <h1>Leaderboard</h1>
        <div class="content">
            <!-- Leaderboard Items Added Here -->
        </div>
    </div>
</body>

<style>
.leaderboard {
  max-width: 600px;
  width: 100%;
  background: #f5f5ff;
  border: 2px solid rgba(219, 202, 202, 0.712);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0;
}

.leaderboard h1 {
 font-size: 2rem;
 margin-bottom: 1rem;
}

</style>
