<a href="/login" id="sign-in-button">
    <button>Sign In</button>
</a>
<style>
    #sign-in-button {
      background-color: #4ea7f5;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    #side-menu-container.hidden {
      display: none;
    }
  </style>